#grid 
{
    position: absolute;
    display: grid;
    border: thin solid black;
    border-radius: 5%;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    width: 300px;
    height: 350px;
    column-gap: 5px;
    row-gap: 5px;
}

.grid-item 
{
    height: 50px;
    width: 50px;
}

#display 
{
    position: absolute;
    height: 50px;
}

#calculator
{
    position: absolute;
    width: 320px;
    height: 600px;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%,-50%);
}